  <style>
    /* Write page CSS here*/
.message-box{
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.success-container{
  background: white;
  height: 480px;
  width: 90%;
box-shadow: 5px 5px 10px grey;
  text-align: center;
}
.confirm-green-box{
  width: 100%;
  height: 140px;
  background: #d7f5da;
}


.monserrat-font{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}





/* --------------- site wide START ----------------- */
.main{
  width:80vw;
  margin: 0 10vw;
  height:50vh;
  overflow:hidden;
  
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* 
 * Setting the site variables, example of how to use
 * color:var(--text-1);
 *
 */

:root {
    --background-1: #ffffff;
    --background-2: #E3E3E3;
    --background-3: #A3CCC8;
    --text-1: #000000;
    --text-2: #ffffff;
    --text-size-reg: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    --text-size-sml: calc(10px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
}

.verticle-align{
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
}

.no-style{
  padding:0;
  margin:0;
}


/* ------------------ site wide END ----------------- */

/* ----- RESPONSIVE OPTIONS MUST STAY AT BOTTOM ----- */

/* SM size and above unless over ridden in bigger sizes */
@media (min-width: 576px) { /* sm size */

}

/* MD size and above unless over ridden in bigger sizes */
@media (min-width: 768px) {

}

/* LG size and above unless over ridden in bigger sizes */
@media (min-width: 992px) { 
  

}

 /* XL size and above */
@media (min-width: 1200px) {
  
}
  </style>
  <!-- start of main -->

  <div>
  <div class="container">
  
    <div class="row">
      <div class="col-12 ">
        <div class="message-box">
        <div class="success-container">
          
          <br>
          <img src="https://static.toiimg.com//photo/105939762/105939762.jpg?imgsize=465376" alt="" style="height: 100px;">
          <br>
          <div style="padding-left: 5%; padding-right: 5%">
          <hr
          </div>
          <br>
          <h1 class="monserrat-font" style="color: Grey">Thank you for your order</h1>
          <br>
            
            <div class="confirm-green-box">
              <br>
              <h5>ORDER CONFIRMATION</h5>
              <p>Your order #<%=orderId%> has been sucessful!</p>
              <p>Thank you for choosing Bhoopendra's Shop. You will shortly receive a confirmation email.</p>
            </div>
  
          <br>
           <button id="create-btn" onclick="window.location.href='/'" class="btn btn-ouioui-secondary margin-left-5px">Back to shop</button> 
        </div>
          </div>
      </div>
    </div>
  
  </div>
  </div>
  <!-- end of main -->